<!DOCTYPE html>
<html>
<head>
  <title>CapDemo</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="wrapper">
  <div class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <ul class="nav">
	     <li><%= link_to "Users", users_url %></li>
        </ul>
      </div>
    </div>
  </div>  

<%= yield %>
</div>
</body>
</html>
